.table-container {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px; /* Add margin to the top */
}

.table-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.user-table {
  overflow-y: auto;
  max-height: 300px; /* Adjust the height as needed */
  border-radius: 8px; /* Add rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow */
  background-color: #ffffff; /* Ensure the table background is white */
}

.user-table table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th,
.user-table td {
  padding: 8px; /* Decrease the padding */
  font-size: 14px; /* Decrease the font size */
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

.user-table th {
  background-color: #f1f1f1;
}

.user-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.status {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  color: white;
  font-size: 12px; /* Decrease the font size */
}

.status.yes {
  background-color: #28a745;
}

.status.no {
  background-color: #dc3545;
}

.action-icon {
  margin-right: 10px;
  cursor: pointer;
  color: #6c757d;
}

.action-icon:hover {
  color: #495057;
}
